<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  	<% f.fields_for :users_teams do |builder| %>
  	<h3>Teammate </h3>
  		<%= render 'users_teams/form_fields', :f => builder %>
  	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
