<%= form_for(@users_team) do |f| %>
  <% if @users_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_team.errors.count, "error") %> prohibited this users_team from being saved:</h2>

      <ul>
      <% @users_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_fields', :f => f %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
